@if (Context.User.Identity.IsAuthenticated == false)
{
	<li class="nav-item">
		<a asp-controller="Usuarios"
		   asp-action="Perfil"
		   class="nav-link">
			Log-in
		</a>
	</li>
}
else
{
	<li class="nav-item">
		<a asp-controller="Usuarios"
		   asp-action="Perfil" class="nav-link text-dark">
			Perfil 
				@Context.User.Identity.Name
		</a>
	</li>
	<li class="nav-item">
		<a asp-controller="Libros"
		   asp-action="Pedidos" class="nav-link text-dark">
			Ver Pedidos
		</a>
	</li>
	<li class="nav-item">
		<a asp-controller="Managed"
		   asp-action="Logout"
		   class="nav-link text-danger">
			Log out</a>
	</li>
}
